@charset "UTF-8";
:root {
  --main-font : 'Nunito Sans', sans-serif; 
  --sub-font1 : 'Black Han Sans', sans-serif;
  --main-color : #0c44ff;
}

body {color:#fff;width: 100%; height: 100%; font-family: var(--main-font);}

/* common */
.ff--main {font-family: var(--main-font); }
.ff--sub1 {font-family: var(--sub-font1);}
.pc-br {display: block;}
.t-br {display: block;}
.m-br {display: block;}

@media screen and (max-width:1400px){
  .pc-br {display: none;}
  .t-br {display: block;}
}

.wrap {position: relative;width: 100%;height: auto; padding-right: 50px;}

/* mouse custom */
.mouse_circle { position: absolute;top:0; left:0; will-change: transform; transform:translate3d(-100% , -100% , 0);pointer-events: none;z-index: 1;}
.mouse_circle .deco {position: relative; width: 25px;height: 25px; border-radius: 50%;  display: flex; align-items: center; justify-content: center; background-color: #05dfb0; --cursor-scale: 1; transform: scale3d(var(--cursor-scale), var(--cursor-scale) ,1); will-change: transform; transition: transform  0.15s ease-in-out, background-color 0.15s ease-in-out;  }
.mouse_circle .deco::after {  content: attr(data-name); position: absolute;  color: #323232; font-weight: 700;font-size: 0.5rem;  margin-bottom:0.2rem;  transform: scale(0.45);  white-space: nowrap;}
.mouse_circle.cursor-text-mode .deco {  background-color: rgb(12, 255, 101) !important;}

/* background */
.index_bg {position: fixed; top:0;left:0; width: 100%; height: 100%; z-index:0; }


  /* nav_bar */
#nav_bar {position: fixed ;top:0; right:0; width:4rem; height: 100vh; background-color:#2e2e2e; z-index:1111; display: flex; flex-direction: column; align-items: center; padding: 100px 0;}
#nav_bar .bar_title {writing-mode: vertical-lr; margin-top: auto;}


/* intro section 1 */
#intro_section1 {padding:50px; position: relative; width: 100%; height: 100vh; display: flex;flex-direction: column; justify-content: space-between;}
#intro_section1 .header {display: flex; gap: 2rem; justify-content: space-between;}
#intro_section1 .header .top_head {width: 25%;}
#intro_section1 .header .top_head .title { font-weight: 700;font-size: 3.5rem; padding-top: 2vh; position: relative;  line-height: 1.1;}

#intro_section1 .header .top_head .title span {width: 100%; display: block; cursor: pointer;  -webkit-text-stroke: 1px #f9f7f1;  background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1);  -webkit-background-clip: text;  color: transparent;  background-repeat: no-repeat;  transition: background-size 0.5s ease-in;  background-position: 0% 0%;  background-size: 0% 100%;}

#intro_section1 .header .top_head .title::before {opacity: 0.3; content:""; position: absolute; top:0; left:0; width: 100%; height: 5px; background-color: #fff; }
#intro_section1 .header .top_head .title::after { content:""; position: absolute; top:0; left:0; width: 0; height: 5px; background-color: #fff; }
#intro_section1 .header .gnb_nav { width: 70%; display: flex; align-items: center; justify-content: space-between; gap: 2vw; }
#intro_section1 .header .gnb_nav .gnb_btn {width: 70%;}
#intro_section1 .header .gnb_nav .gnb_btn .page_go {width: 100%; padding: 2vh 0; display: flex; flex-direction: column;position: relative;}
#intro_section1 .header .gnb_nav .gnb_btn .page_go::before {content:""; position: absolute; top:0; left:0; width: 0; height: 3px; background-color: #fff; }
#intro_section1 .header .gnb_nav .gnb_btn .gnb_tit {pointer-events: none;font-size:1.5rem; }
#intro_section1 .header .gnb_nav .gnb_btn .gnb_desc {pointer-events: none;font-size:1.1rem; padding: 0.8rem 0 0.5rem;}
#intro_section1 .header .gnb_nav .gnb_btn .num {pointer-events: none;display: block;}
#intro_section1 .main_visual {position: relative;  width: 100%; height: 100%; display: flex; align-items: flex-end; justify-content: center; height: 58vh; border:1px solid #fff; overflow: hidden;}
#intro_section1 .main_visual #canvas {width: 100% !important; height: 100% !important; object-fit: cover; transform: translate(0,100px);}

@keyframes progressAni {
  0% {width: 0;}
  100% {width: 100%;}
}

@media (hover : hover){
  #intro_section1 .header .top_head .title span:hover {  background-size: 100% 100%;}
  #intro_section1 .header .top_head:hover .title::after {animation: progressAni 0.5s linear forwards; }
  #intro_section1 .header .gnb_nav .gnb_btn .page_go:hover::before {animation: progressAni 0.5s linear forwards; }
}
@media screen and (max-width: 1400px){
  #intro_section1 {height: auto;}
  #intro_section1 .header {flex-direction: column;}
  #intro_section1 .header .top_head {width: 100%;}
  #intro_section1 .header .gnb_nav {width: 100%;}
}

#intro_section2 {width: 100%; height: auto; padding:100px; position: relative; background: #000;}
#intro_section2 .about_me_txt_cont {display: flex; gap: 50px; }
#intro_section2 .about_me_txt_cont .tit {font-size: 5rem; width: 30%; opacity: 0; transform:translateX(200px);transition: all .5s;}
#intro_section2 .about_me_txt_cont .body {display: flex; flex-direction: column;gap: 30px; width: 60%;}
#intro_section2 .about_me_txt_cont .body .desc {font-size: 1.5rem; opacity: 0; transition: all .5s; transform: translateX(200px);transition-delay: .3s;}
#intro_section2 .about_me_txt_cont .body .desc:last-child {transition-delay: .5s;}
#intro_section2 .about_me_detail {display: flex; gap: 50px;margin-top: 20vh;} 
#intro_section2 .about_me_detail .about_me_pic {width: 35%;} 
#intro_section2 .about_me_detail .about_me_pic img {border-radius: 10px;} 
#intro_section2 .about_me_detail .about_me_info {width: 50%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center;} 
#intro_section2 .about_me_detail .about_me_info .item {display: flex; align-items: center; gap: 0.5em; margin-bottom: 0.5em;}
#intro_section2 .about_me_detail .about_me_info .item #check_icon {transition: fill .3s ease;}
#intro_section2 .about_me_detail .about_me_info .item .txt { font-size: 2.5rem;}

@media (hover : hover){
  #intro_section2 .about_me_detail .about_me_info .item:hover #check_icon { fill: var(--main_color);}
}